li{
    list-style: none;
}

.contenido-titulo{
    text-align: center;
    color: blue;
    padding-top: 5%;
}

.contenido-input{
    text-align: center;

}

.input-item{
    display: inline-block;
    align-content: center;
    padding-top: 2.5%;
}

.salida-item{
    display: inline-block;

}



