li{
    list-style: none;
}

.contenido-titulo{
    text-align: center;
}

.contenido-input{
    text-align: center;

}

.input-item{
    display: inline-block;
    align-content: center;
    
}

.salida-item{
    display: inline-block;

}



